.link {
    background-color: #007bff;
    border-radius: 40%;
    color: #edebeb;
    font-size: 24px;
    text-decoration: none;
}

.link:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.small {
    padding: 5px;
}

.middle {
    padding: 10px;
}

.large {
    padding: 15px;
}
