.App {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* overflow-y: hidden; */
    user-select: none;
}

body {
    overflow: hidden;
}

.App button {
    border: 1px solid transparent;
    cursor: pointer;
    transition: border-color 0.25s;
}

.App button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.hid {
    visibility: hidden;
}

.area {
    width: 50px;
    height: 50px;
    border: 10px solid red;
    position: absolute;
    left: 72%;
    top: 28%;
}
